/* 
    Document   : page-bar
    Created on : 24.10.2013, 1:28:03
    Author     : jiri
    Description:
        Purpose of the stylesheet follows.
*/

body {
	margin-top: 50px;
}

.menu-bar {
	position: fixed;
	display: block;
	height: 25px;
	width: 100%;
	top: 0px;
	left: 0px;
	z-index: 100;
	background-color: #F2F2F2;/*#D8D8D8;*/
	border-bottom-style: solid;
	border-bottom-color: #D2D2D2;
}

.menu-bar div {
	display: inline;
	padding-right: 10px;
	padding-left: 5%;
}

form.inline-form {
    display: inline;
}


